div.col-md-8#albums
     .card
          .albums
               a(href="").card
                    img(class="card-img-top" src="https://www.planwallpaper.com/static/images/general-night-golden-gate-bridge-hd-wallpapers-golden-gate-bridge-wallpaper.jpg" alt="album cover")
                    
               a(href="").card
                    img(class="card-img-top" src="https://www.planwallpaper.com/static/images/general-night-golden-gate-bridge-hd-wallpapers-golden-gate-bridge-wallpaper.jpg" alt="album cover")
                    
               a(href="").card
                    img(class="card-img-top" src="https://www.planwallpaper.com/static/images/general-night-golden-gate-bridge-hd-wallpapers-golden-gate-bridge-wallpaper.jpg" alt="album cover")
                    
               a(href="").card
                    img(class="card-img-top" src="https://www.planwallpaper.com/static/images/general-night-golden-gate-bridge-hd-wallpapers-golden-gate-bridge-wallpaper.jpg" alt="album cover")
                    
               a(href="").card
                    img(class="card-img-top" src="https://www.planwallpaper.com/static/images/general-night-golden-gate-bridge-hd-wallpapers-golden-gate-bridge-wallpaper.jpg" alt="album cover")
                    
               a(href="").card
                    img(class="card-img-top" src="https://www.planwallpaper.com/static/images/general-night-golden-gate-bridge-hd-wallpapers-golden-gate-bridge-wallpaper.jpg" alt="album cover")
                    
