.col-md-3
     .card
          ul.list-group
               li.list-group-item
                    a(href="")
                         img.thumb-img(src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/19511494_780968788752461_1757222649295254114_n.jpg?oh=27e5cc0f1fdfce684ab5e54187faf7ce&oe=5AA16C5D")
                         h1 Jakub Milcarz
                         
                         li.list-group-item
                              a(href="")
                                   img.thumb-img(src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/19511494_780968788752461_1757222649295254114_n.jpg?oh=27e5cc0f1fdfce684ab5e54187faf7ce&oe=5AA16C5D")
                                   h1 Jakub Milcarz
                         li.list-group-item
                              a(href="")
                                   img.thumb-img(src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/19511494_780968788752461_1757222649295254114_n.jpg?oh=27e5cc0f1fdfce684ab5e54187faf7ce&oe=5AA16C5D")
                                   h1 Jakub Milcarz
                         li.list-group-item
                              a(href="")
                                   img.thumb-img(src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/19511494_780968788752461_1757222649295254114_n.jpg?oh=27e5cc0f1fdfce684ab5e54187faf7ce&oe=5AA16C5D")
                                   h1 Jakub Milcarz
                         li.list-group-item
                              a(href="")
                                   img.thumb-img(src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/19511494_780968788752461_1757222649295254114_n.jpg?oh=27e5cc0f1fdfce684ab5e54187faf7ce&oe=5AA16C5D")
                                   h1 Jakub Milcarz
                         li.list-group-item
                              a(href="")
                                   img.thumb-img(src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/19511494_780968788752461_1757222649295254114_n.jpg?oh=27e5cc0f1fdfce684ab5e54187faf7ce&oe=5AA16C5D")
                                   h1 Jakub Milcarz
                         li.list-group-item
                              a(href="")
                                   img.thumb-img(src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/19511494_780968788752461_1757222649295254114_n.jpg?oh=27e5cc0f1fdfce684ab5e54187faf7ce&oe=5AA16C5D")
                                   h1 Jakub Milcarz
                         li.list-group-item
                              a(href="")
                                   img.thumb-img(src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/19511494_780968788752461_1757222649295254114_n.jpg?oh=27e5cc0f1fdfce684ab5e54187faf7ce&oe=5AA16C5D")
                                   h1 Jakub Milcarz
                         li.list-group-item
                              a(href="")
                                   img.thumb-img(src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/19511494_780968788752461_1757222649295254114_n.jpg?oh=27e5cc0f1fdfce684ab5e54187faf7ce&oe=5AA16C5D")
                                   h1 Jakub Milcarz
                         li.list-group-item
                              a(href="")
                                   img.thumb-img(src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/19511494_780968788752461_1757222649295254114_n.jpg?oh=27e5cc0f1fdfce684ab5e54187faf7ce&oe=5AA16C5D")
                                   h1 Jakub Milcarz
                         li.list-group-item
                              a(href="")
                                   img.thumb-img(src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/19511494_780968788752461_1757222649295254114_n.jpg?oh=27e5cc0f1fdfce684ab5e54187faf7ce&oe=5AA16C5D")
                                   h1 Jakub Milcarz
                         li.list-group-item
                              a(href="")
                                   img.thumb-img(src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/19511494_780968788752461_1757222649295254114_n.jpg?oh=27e5cc0f1fdfce684ab5e54187faf7ce&oe=5AA16C5D")
                                   h1 Jakub Milcarz
                         li.list-group-item
                              a(href="")
                                   img.thumb-img(src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/19511494_780968788752461_1757222649295254114_n.jpg?oh=27e5cc0f1fdfce684ab5e54187faf7ce&oe=5AA16C5D")
                                   h1 Jakub Milcarz
