.col-xl-10.ml-auto.mr-auto#searchpage
     .card
          h1 Search results for <b>Milcarz</b>
          ul.list-group
               .row
                    a(href="index.html").col-xl-4
                         .card
                              img(class="card-img-top" src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/19511494_780968788752461_1757222649295254114_n.jpg?oh=27e5cc0f1fdfce684ab5e54187faf7ce&oe=5AA16C5D" alt="")
                              div(class="card-body")
                                   h4(class="card-title") Jakub Milcarz                         
                                   form
                                        button(type="submit" name="add-to-friend" class="btn btn-swines") dodaj do znajomych
                    a(href="index.html").col-xl-4
                         .card
                              img(class="card-img-top" src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/19511494_780968788752461_1757222649295254114_n.jpg?oh=27e5cc0f1fdfce684ab5e54187faf7ce&oe=5AA16C5D" alt="")
                              div(class="card-body")
                                   h4(class="card-title") Jakub Milcarz                         
                                   form
                                        input(type="hidden" name="userid")
                                        button(type="submit" name="add-to-friend" class="btn btn-swines") dodaj do znajomych
