.col-xl-3#profileinfo
     div.card
          div.card-body
               a(href="index.html").profile-pictures
                    img(src="https://www.planwallpaper.com/static/images/general-night-golden-gate-bridge-hd-wallpapers-golden-gate-bridge-wallpaper.jpg").bg.rounded-top
                    .info
                         img(src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/19511494_780968788752461_1757222649295254114_n.jpg?oh=27e5cc0f1fdfce684ab5e54187faf7ce&oe=5AA16C5D").profile
                         .name
                              h1 Włodzimierz<br class="under1200">Markowicz
                    
               section
                    .add-friend-button
                         a(href="").btn.btn-swines.btn-sm
                              i.fa.fa-user-plus
                              |  dodaj do znajomych
                    .bio
                         p Lorem ipsum dolor sellendus repplicabo, vero, ipsum laudantium.
                         .buttons
                              a(href="").btn.btn-link informacje
                              a(href="").btn.btn-link wyślij wiadomość
                              a(href="albums.html").btn.btn-link zdjęcia
                              a(href="").btn.btn-link.text-danger zablokuj
                              
                         .add-friend-button
                              a(href="").btn.btn-swines.btn-sm
                                   i.fa.fa-user-plus
                                   |  dodaj do znajomych
                                   
                         footer
                              .column.border-next
                                   h1 Friends
                                   h2 143
                              .column
                                   h1 Followers
                                   h2 6256
     
     div.card
          div.card-body          
               .buttons.secondbuttons
                    a(class="btn btn-link" data-toggle="modal" data-target=".userInfoModal").btn.btn-link informacje
                    a(href="").btn.btn-link wyślij wiadomość
                    a(href="albums.html").btn.btn-link zdjęcia
                    a(href="").btn.btn-link.text-danger zablokuj
