div.col-md-8#timeline
     ul.list-group
          li.list-group-item
               form(action="" method="")
                    div.form-group
                         textarea(class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="What's on your mind?")
                    button(type="submit" name="createnewpost" class="btn btn-primary btn-md btn-block btn-swines") Publish post
                         
          li.list-group-item
               a.mediana(href="post.html")
                    div.media
                         img(class="mr-3" src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/19511494_780968788752461_1757222649295254114_n.jpg?oh=27e5cc0f1fdfce684ab5e54187faf7ce&oe=5AA16C5D" alt="")
                         ul.list-group
                              div.media-body
                                   h5.mt-0 Jakub Milcarz
                                   p.mt-0
                                        i.fa.fa-clock-o
                                        |  24.11.2017 | 14:30
                                   p.lead Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                              li.media-footer.list-group-item
                                   a(href="").btn.btn-link 
                                        i.fa.fa-heart
                                        |  53
                                   a(href="").btn.btn-link
                                        i.fa.fa-comment
                                        |  653
                                   a(href="").btn.btn-link
                                        i.fa.fa-share
                                        |  1492
                                   
          li.list-group-item
               div.media
                    img(class="mr-3" src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/19511494_780968788752461_1757222649295254114_n.jpg?oh=27e5cc0f1fdfce684ab5e54187faf7ce&oe=5AA16C5D" alt="")
                    ul.list-group
                         div.media-body
                              h5.mt-0 Jakub Milcarz
                              p.mt-0
                                   i.fa.fa-clock-o
                                   |  24.11.2017 | 14:30
                              | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                         li.media-footer.list-group-item
                              a(href="").btn.btn-link 
                                   i.fa.fa-heart
                                   |  53
                              a(href="").btn.btn-link
                                   i.fa.fa-comment
                                   |  653
                              a(href="").btn.btn-link
                                   i.fa.fa-share
                                   |  1492
          li.list-group-item
               div.media
                    img(class="mr-3" src="https://scontent-frt3-2.xx.fbcdn.net/v/t1.0-9/19511494_780968788752461_1757222649295254114_n.jpg?oh=27e5cc0f1fdfce684ab5e54187faf7ce&oe=5AA16C5D" alt="")
                    ul.list-group
                         div.media-body
                              h5.mt-0 Jakub Milcarz
                              p.mt-0
                                   i.fa.fa-clock-o
                                   |  24.11.2017 | 14:30
                              | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                         li.media-footer.list-group-item
                              a(href="").btn.btn-link 
                                   i.fa.fa-heart
                                   |  53
                              a(href="").btn.btn-link
                                   i.fa.fa-comment
                                   |  653
                              a(href="").btn.btn-link
                                   i.fa.fa-share
                                   |  1492
